<ul style="max-width: 400px; margin: 0 auto">
	<p style="text-align: center"><font size ="6">Alphabetical</font></p>
	<div class="row">
        <div class="col-sm-3">
            <ul class="multi-column-dropdown">
            	<li><a href='${pageContext.request.contextPath}/search?title=A'>A</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=B'>B</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=C'>C</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=D'>D</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=E'>E</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=F'>F</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=G'>G</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="multi-column-dropdown">
            	<li><a href='${pageContext.request.contextPath}/search?title=H'>H</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=I'>I</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=J'>J</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=K'>K</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=L'>L</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=M'>M</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=N'>N</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="multi-column-dropdown">
            	<li><a href='${pageContext.request.contextPath}/search?title=O'>O</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=P'>P</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=Q'>Q</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=R'>R</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=S'>S</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=T'>T</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=U'>U</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="multi-column-dropdown">
            	<li><a href='${pageContext.request.contextPath}/search?title=V'>V</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=X'>X</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=Y'>Y</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=Z'>Z</a></li>
				<li><a href='${pageContext.request.contextPath}/search?title=0-9'>0-9</a></li>
            </ul>
        </div>
	
</ul>