<a href="#" class="dropdown-toggle l-home__link" data-toggle="dropdown">Browse</a>
<ul class="dropdown-menu multi-column columns-3">
    <div class="row">
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
            	<li class="divider">Browse</li>
	            <li><a href='${pageContext.request.contextPath}/search?genre=Action'>Action</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Adventure'>Adventure</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Animation'>Animation</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Biography'>Biography</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Classic'>Classic</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
            	<li class="divider">&nbsp;</li>
            	<li><a href='${pageContext.request.contextPath}/search?genre=Comedy'>Comedy</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Coming-of-Age-Drama'>Coming-of-Age-Drama</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Crime'>Crime</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Documentary'>Documentary</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Drama'>Drama</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
            	<li class="divider">&nbsp;</li>
            	<li><a href='${pageContext.request.contextPath}/search?genre=Family'>Family</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Fantasy'>Fantasy</a></li>
				<li><a href='${pageContext.request.contextPath}/search?genre=Foreign'>Foreign</a></li>
				<li><a href='${pageContext.request.contextPath}/search' id="browse">Search All</a></li>
				<li><a href='${pageContext.request.contextPath}/browse' id="browse">Browse All</a></li>

            </ul>
        </div>
    </div>
</ul>