<div class="container l-home__header">
	<div class="row">
		<div class="col-4 l-home__col">
			<a href="${pageContext.request.contextPath}/home"><img src="${pageContext.request.contextPath}/resources/fabflix.png" height ="90%" class="l-home__title"></a>
			
			<div class="l-home__dropdown" id="home__dropdown">
				<%@ include file="/WEB-INF/templates/dropdown.html" %>
			</div>
		</div>
		
		<div class="col-8 l-home__col">
			<div class="row l-home__header--logout">
				<p style="padding: 5px 20px 0px 0px;"> Welcome: ${firstname} </p>
				<a href="${pageContext.request.contextPath}/login"><button class="btn btn-link l-home__header--logout__link" type="button">Log out</button></a>
			</div>
			<div class="row l-home__search">

				<div class="l-home__cart">
					<a href= "${pageContext.request.contextPath}/cart"><button class="btn btn-default" type="button">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i> - ${cart.size == null ? '0' : cart.size }</button></a>
				</div>

				<form role="search" action="${pageContext.request.contextPath}/search">
				<div class="input-group">
					<input class="form-control" placeholder="Search" name="q" type="text" id="auto-search" autocomplete="off">
					<input class="form-control" name="type" type="hidden" value="title">
					<!-- <select class="form-control" name="type" id="auto-type">	
						<option value="title" selected="selected"> Title </option>
						<option value="year"> Year </option>
						<option value="director"> Director </option>
						<option value="star"> Star </option>
					</select>-->
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
				</div>
				</form>
			</div>
			<div class="fabflix__drop-down" id="drop-down">
			</div>	
		</div>
	</div>
</div>

